<phpunit
    bootstrap        = "vendor/autoload.php"
    stopOnError      = "true"
    stopOnFailure    = "false"
    stopOnIncomplete = "false"
    stopOnSkipped    = "false"
    strict           = "true"
    verbose          = "true">
  <testsuites>
    <testsuite name="Tests">
      <directory suffix=".php">tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-html" target="build/coverage"
         title="Unit coverage" charset="UTF-8" yui="true"
         highlight="true" lowUpperBound="80" highLowerBound="95"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>
    <filter>
      <whitelist addUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">lib/</directory>
      </whitelist>
    </filter>
</phpunit>
